.navbar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.menu-toggle {
  display: block;
  font-size: 3rem;
  background: none;
  border: none;
  color: #d0d6f9;
  cursor: pointer;
  padding-right: 24px;
}

.navbar-logo {
  padding-left: 24px;
}
.navbar-logo img {
  width: 40px;
}
.navbar-overlay {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  backdrop-filter: blur(20px);
  color: white;
  transition: right 1s ease;
  z-index: 1000;
  padding: 1.75rem;
}

.navbar-overlay.open {
  right: 0;
}

.navbar-overlay ul {
  list-style: none;
  padding: 3rem 0.5rem;
}
.navbar-overlay li {
  margin: 2rem 0;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
  position: relative;
}

.navbar-links li::after {
  content: "";
  display: block;
  opacity: 0;
  height: 1.35rem;
  width: 0.25rem;
  position: absolute;
  background: white;
  transition: opacity 0.5s;
  z-index: -1;
  right: -2.25rem;
  top: 0px;
}
.navbar-links li:hover::after {
  opacity: 0.5;
}

.navbar-close {
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  color: #d0d6f9;
}

.navbar-close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #d0d6f9;
}

.overlay-list-number {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 2.7px;
  margin-right: 16px;
}

.navbar-links a.active-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.25rem;
  height: 1.35rem;
  right: -2.25rem;
  top: 0px;
  background-color: white;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .navbar-logo img {
    width: 48px;
  }
  .menu-toggle {
    display: none;
  }

  .navbar-overlay {
    display: flex;
    position: static;
    height: auto;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #1b1d26;
    color: white;
    width: 80%;
  }
  .navbar-logo {
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .navbar-overlay ul {
    padding: 0;
  }
  .navbar-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .navbar-close,
  .navbar-close-btn {
    display: none;
  }

  .navbar-links a.active-link::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    right: 0px;
    top: 3rem;
    background-color: white;
  }

  .navbar-links li::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 5px;
    right: 0px;
    top: 3rem;
    background-color: white;
    transition: opacity 0.5s;
  }
}

@media (min-width: 1024px) {
  .navbar-overlay {
    width: 60%;
    background: rgba(255, 255, 255, 0.05);
  }
  .navbar-overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40%;
    width: 50%;
    height: 1px;
    opacity: 0.1;
    background-color: white;
  }
  .navbar {
    padding: 24px 0px;
  }
}
